header{width:1510px;text-align:center;}
main{width:1510px;background:#EBEBEB;Font-size:16px;position:relative;left:0.3%;}
.resume{position:relative;left:82%;width:200px;bottom:90px;}
label{color:#3A20A6;}
.data{position:relative;left:3%;width:270px;}
footer{width:1510px;background:#313131;text-align:center;color:#FFFFFF;height:300px;position:relative;left:0.3%;}
header span{position:relative;bottom:220px;left:40%;}
header strong{color:#8F0A0C;position:relative;left:3%;}

