form{background:#102B56;width:1200px;height:600px;text-align:center;}
table{position:relative;bottom:90px;left:20%;}
input{width:500px;}
label{color:#FFFFFF;font-size:18px;}
button[type="submit"]{position:relative;bottom:25px;}
footer{background:#3A3A3A;height:90px;width:1200px;color:#FFFFFF;}