.interns{background-color: white;border-radius: 8px;height: 130px;}
.interns h1{text-align: center;background-color:#d9d9d9;border-radius: 8px;}
.container div[class="interns"] h2{background-color:cadetblue;width: 80px;height: 91px;border-radius: 0px 0px 0px 8px;color: white; position: relative;bottom: 20px;padding:15px 8px;}
.interns h3{position: relative;bottom:120px;left:8%;width:680px; }
.interns h4{position: relative;bottom:210px;left:70%;}


main{color: white;background-color:#6c9fbf;position: relative;bottom: 220px;text-align: center;height: 900px;}
main h3{color: black;}
main button{color: blue;}
footer{height: 200px;background-color:#2e2c2c;}